.statistic {
  width: 400px;
  margin: 0 auto;
  background-color: #f7f7f7;
  text-align: center;
}

.title {
  padding: 20px 0;
  font-size: 26px;
  color: #616161;
  font-weight: 700;
}
.statsList {
  display: flex;
}
